@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

/* End of Common Styles */

/* Mouse Circle */
.mouse-circle,
.mouse-dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%, -50%);
  opacity: 0;
}


.mouse-circle {
  width: 6rem;
  height: 6rem;
  border: .1rem solid #630db3;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  animation: mouseCircleAnim 10s infinite linear;
}

  @keyframes mouseCircleAnim {
    0% {
      width: 6rem;
      height: 6rem;
    }
    25% {
      width: 8rem;
      height: 8rem;
    }
    35% {
      width: 4rem;
      height: 4rem;
    }70% {
      width: 8rem;
      height: 8rem;
    }
    100% {
      width: 6rem;
      height: 6rem;
    }
  }



.mouse-dot {
  width: .5rem;
  height: .5rem;
  background-color: rgb(95, 207, 207);
  position: fixed;
}

/* End of Mouse Circle


/* Page BG */
.page-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(54, 1, 32, 0.7),rgba(22, 1, 61, 0.7)),url(/img/hero.jpg) center no-repeat;
  background-size: cover;
}


/* Section 1 */
.section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of Section 1 */

/* Logo */

.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

/* End of Logo */

/* Animated Circles */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}

.circle {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: aqua;
  align-self: center;
  justify-self: center;
  opacity: 0.5;
}
.circle-1 {
  background: url(/img/earth.jpeg) center no-repeat;
  background-size: cover;
  background-clip:content-box;
  border: .5rem dotted  #3fc3fc;
}
.circle-2 {
  background: url(/img/earth.jpeg) center no-repeat;
  background-size: cover;
  background-clip:content-box;
  border: .5rem dashed  #3fc3fc;
}
.circle-3 {
  background: url(/img/earth.jpeg) center no-repeat;
  background-size: cover;
  background-clip:content-box;
  border: 1rem double  #3fc3fc;
}
.circle-4 {
  background: url(/img/earth.jpeg) center no-repeat;
  background-size: cover;
  background-clip:content-box;
  border: .7rem double  #3fc3fc;
}

.main-circle {
  width: 50rem;
  height: 50rem;
  background: rgb(156,65,1);
  background: radial-gradient(circle, rgba(156,65,1,1) 0%, rgba(103,32,131,1) 100%);
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}

/* End of Animated Circles */
/* Featured text */
  .featured-text {
    font-size: 2rem;
    color: aliceblue;
    text-transform: uppercase;
    z-index: 2;
    position:sticky;
    top: 0;
  }

  .featured-text-1 {
    margin: 0 auto 0 10rem;
  }


  .featured-text-2 {
    margin: 0 10rem 0 auto;
  }

/* End of Featured Text */

/* End of Section 1 */