@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 62.5%;
}

/* End of Common Styles */

/* Mouse Circle */
.mouse-circle,
.mouse-dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}


.mouse-circle {
  width: 6rem;
  height: 6rem;
  border: .1rem solid #630db3;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  animation: mouseCircleAnim 10s infinite linear;
}

  @keyframes mouseCircleAnim {
    0% {
      width: 6rem;
      height: 6rem;
    }
    25% {
      width: 8rem;
      height: 8rem;
    }
    35% {
      width: 4rem;
      height: 4rem;
    }70% {
      width: 8rem;
      height: 8rem;
    }
    100% {
      width: 6rem;
      height: 6rem;
    }
  }



.mouse-dot {
  width: .5rem;
  height: .5rem;
  background-color: rgb(95, 207, 207);
  position: fixed;
  
}

/* End of Mouse Circle


/* Page BG */
.page-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(54, 1, 32, 0.7),rgba(22, 1, 61, 0.7)),url(/img/hero.jpg) center no-repeat;
  background-size: cover;
}


/* Section 1 */
.section-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Main Button */

  .main-btn {
    position: absolute;
    bottom: 3rem;
    width: 16rem;
    height: 5rem;
    background: rgb(125,35,235);
background: radial-gradient(circle, rgba(125,35,235,1) 0%, rgba(148,187,233,1) 100%);
    
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition:  .5s;
  }

  .main-btn span {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5rem;
    text-shadow: .5rem .3rem .5rem black
  }

  .main-btn:hover {
    height: 5rem;
    background: rgb(158, 112, 214);
background: radial-gradient(circle, rgb(146, 87, 218) 0%, rgb(181, 203, 228)100%);
    
  }


/* Button Ending */
/* End of Section 1 */

/* Logo */

.logo {
  position: absolute;
  top: 2rem;
  left: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

/* End of Logo */

/* Animated Circles */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}

.circle {
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  background-color: aqua;
  align-self: center;
  justify-self: center;
  opacity: 0.5;
  position: relative;
  transition: left 2s, top 2s;
  top:0;
  left: 0;
}
.circle-1 {
  background: url(/img/earth.jpeg) center no-repeat;
  background-size: 150%;
  background-clip:content-box;
  border: 1rem double  #3fc3fc;
  margin-left: -10rem;
}
.circle-2 {
  background: url(/img/hero2.jpg) center no-repeat;
  background-size: 240%;
  background-clip:content-box;
  border: 1rem double  #fc753f;
  margin-right: -10rem;

}
.circle-3 {
  background: url(/img/saturn.jpg) center no-repeat;
  background-size: cover;
  background-clip:content-box;
  border: 1rem double  #940b8d;
  margin-left: -10rem;
}
.circle-4 {
  background: url(/img/moon.jpg) center no-repeat;
  background-size: cover;
  background-clip:content-box;
  border: 1rem double  #6a6d6e;
  margin-right: -10rem;
}

.main-circle {
  width: 50rem;
  height: 50rem;
  background: rgb(156,65,1);
  background: radial-gradient(circle, rgba(156,65,1,1) 0%, rgba(103,32,131,1) 100%);
  z-index: 2;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  transition: width -.2s, height -.2s;
}


.main-circle:hover {
  cursor: pointer;
}


.main-circle img {
  position: relative;
  transform: scale(1.2);
  transition: left 2s, top 2s;
  top:0;
  left: 0;
}
/* End of Animated Circles */
/* Featured text */
  .featured-text {
    font-size: 2rem;
    color: aliceblue;
    text-transform: uppercase;
    width: 0;
    word-wrap: break-word;
    line-height: 3.5;
    position: sticky;
    top: 0;
  }

  .featured-text-1 {
    margin: 0 auto 0 10rem;
  }


  .featured-text-2 {
    margin: 0 10rem 0 auto;
  }

/* End of Featured Text */

/* End of Section 1 */

/* Main Button */

/* Section 2 */

.section-2 {
  position: relative;
  padding: 10rem 10rem 15rem 10rem;
}

/*Section2 Heading */

  .section-2-heading {
    font-size: 2rem;
    font-weight: 300;
    color: #ffff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);
    width: 0;
    word-break: break-all;
    line-height: 4;
  }

/*ENding Section2 Heading */



/* about me text */
  .about-me-text {
    width: 80%;
    margin: auto;
  }

  .about-me-text span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15rem;
    color: #aaa;
    letter-spacing: 0.5rem;
    line-height: 0.9;
    text-shadow: 0 0 2rem #5a0964;
    padding-top: 0.5rem;
    mix-blend-mode: color-dodge;
  }

  @keyframes aboutMeTextAnim {
    0% {
      color: #aaa;
      top: 0;
    }10%,
    50%{
      color: #ffff;
      top: 2rem;
    }100% {
      color: #aaa;
      top: 0;
    }
  }



/*about me text ending */

/*Section 2 Ending */