@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.header {
  height: 75vh;
    width:100vw;
   
    background-image: linear-gradient( 
         to right bottom,
         rgba(126, 57, 0, 0.212),
         rgba(110, 20, 98, 0.308)),
    url(../img/hero.jpg);
    background-size:cover;
    background-position: top;
    position: relative;
  
  

}

.header__title_name {
    width: 5rem;
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: white;
    font-style: italic;
    animation: blink-1;
    animation-duration: 1s;
}

.header__title_name:hover {
    width: 5rem;
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: white;
    font-style: italic;
    
    animation: text-focus-in;
    animation-duration: 1.25s;
    cursor: pointer;

}

#header__navbar {
    color: wheat;
    width: 5rem;
    display: flex;
    width: 50vw;
    float: right;
    justify-content:space-around;
    padding: 2rem;
    font-size: 3.6rem;
    text-transform: uppercase;
    z-index: 1;
}

#header__navbar  a {
    cursor: pointer;
    color: white;
    z-index: 1;
    text-decoration: none;
}
.main-text {
  
  width: 50%;
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6.4rem;
  text-align: center;
  letter-spacing: 1rem;
}

.sub-text {
  width: 50%;
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 6.4rem;
  text-align: center;
  font-style: italic;
  font-weight:100;
  font-family: 'Poppins', sans-serif;
  height: 10;
}

.last-text{

  font-family: 'Silkscreen', cursive;
  width: 50%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6.4rem;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 3rem;
  color: #FFFFFF;

text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #e27449, 0 0 30px #640b60, 0 0 40px #ca9c05, 0 0 55px #c58908, 0 0 75px #b967a5;
  
}

.button-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 2rem;
  margin-top: 50px;
  position: absolute;
  z-index: 1;
}

.contact {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 20rem;

  position: absolute;
 


 letter-spacing: 1rem;
 font-weight: 600;
 border-style: none;
 height: 3rem;
 cursor: pointer;
 background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #cc5709, #491302);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #d36905, #a73c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.contact:hover {
 
  transition: 0.5s;
  background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #c27441, #6e3928);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #be8f63, #a57067); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  animation: vibrate-1;
  animation-duration: 0.5s;
  border-radius: 10px;
  font-weight: 700;

}



/* HEADER 2 */



.header_two {
  height: 25vh;
    width:100vw;
 
    background-size:auto;
    background-position: top;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    background-color: black;
   
}

.pp {
  height: 25vh;
  overflow: hidden;
  z-index: 1;
  border: 2px solid #ffffff;
  border-radius: 100%;
  position: absolute;
  border-color: #ffffff;
}

.pp_introduction {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5rem;
}








@media screen and (max-width: 1024px) {
  .main-text {
   font-size: 3rem;
   white-space: nowrap;
  }
  
  .sub-text {
    font-size: 4rem;
 

  }
  
  .last-text{
    font-size: 3rem;
white-space: nowrap;
width: 100%;
  }
}

@media screen and (max-width: 720px) {
    #header__navbar {
        color: wheat;
        width: 5rem;
        display: flex;
        width: 100vw;
        float: right;
        justify-content:space-around;
        padding: 2rem;
        font-size: 3.6rem;
        text-transform: uppercase;
        z-index: 1;
    }
    .header__title_name {
        display: none;
    }
   
    }

  
  






  @keyframes blink-1 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }
  

@keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }

  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
